body {
  margin: 0;
  padding: 0;  
}

.menu {
  position: fixed;
  top: 25%;
  background-color: rgba(255, 255, 255, 0.01);
  padding: .2em 2em .2em 0;
  border-radius: 0 5px 5px 0;
  left: -14.5em;
}

.menu-overlay {
  background: rgba(41, 51, 59, 0.25);
  width: 15em;
  padding: .2em .2em .2em 0;
  border-radius: 0 5px 5px 0;
  border: 2px outset rgba(58, 58, 58, 0.75);
  border-left: 0;
}

.menu-list {
  background-color: rgba(150, 0, 150, 0);
  width: 11.5em;
  list-style: none;    
}

.menu-list a {
  text-decoration: none;
  color: white;    
}

.menu-btn a {
  display: flex;
  flex-direction: row; /* make main axis horizontal*/
  min-height: 2em;
  text-decoration: none;    
  align-items: center; /* center items vertically - in flex row*/
  justify-content: center; /* center items horizontally - in flex row*/
  text-align: center; /* center anything misbehaving - top & bot row of list*/
  color: white;
  background: linear-gradient(0deg, 
  rgba(0, 33, 66, .1) 2px,  
  rgba(49, 61, 71, .1) 2px, 
  rgba(49, 61, 71, .1) 94%, 
  rgb(184, 238, 248));
  padding: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(30, 34, 43);
  border-right: 1px solid rgb(64, 70, 77);
  border-left: 1px solid rgb(23, 41, 58);
  border-radius: 2.5px;
}
.menu {
  transition: .5s;
}

.menu:hover {
  left: 0;    
}

.menu-btn a:hover {
  text-decoration: none;
  color: rgb(255, 238, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  background: linear-gradient(0deg, 
  rgba(0, 33, 66, .85) 2px,  
  rgba(49, 61, 71, .85) 2px, 
  rgba(49, 61, 71, .85) 94%, 
  rgb(184, 238, 248));
  border-bottom: 2px solid #1e222b;
  border-right: 1px solid #1e222b;
  box-shadow: inset 2px 2px 2px #1e222b;
}